<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">~T's Book Haven~</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                  <a class="nav-link" href="/listBooks">Books</a>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link" href="/listReaders">Readers</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/listRents">Rents</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" disabled>About Us</a>
            </li>
          </ul>
        </div>
      </nav>
</header>