<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
    <%- include('partials/navbar.html') %>
    <img src="/images/back.png" alt="" class="background">
    <div class="container">

        <%- include('partials/footer.html') %>

    </div>
</body>

</html>