<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
    <%- include('partials/navbar.html') %>
    <div class="container">
        <h1>
            <%= message %>
        </h1>
        <p>
            <%= error.status %>
        </p>
    </div>

        <%- include('partials/footer.html') %>

</body>

</html>