<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
    <%- include('partials/navbar.html') %>
    <div class="container" style="text-align: center" id="app">
        <div class="container" style="text-align: center;">
            <form action="">
                <br>
                <h1>Reader Form</h1>
                <hr>
                <!-- Validating form inputs-->
                <p v-if="readerErrors.length" style="color: darkred;">
                    <br>
                    The following error(s) was/were found:
                <ul>
                    <li v-for="error in readerErrors" style="color: red; list-style: none;">{{ error }}</li>
                </ul>
                </p>

                <!-- Form -->
                <input type="text" id="fname" class="form-control" placeholder="Enter first name..."
                    v-model="readerForm.readerFirstname">
                <br>

                <input type="text" id="lname" class="form-control" placeholder="Enter last name..."
                    v-model="readerForm.readerLastname">
                <br>

                <input type="text" id="address" class="form-control" placeholder="Enter address..."
                    v-model="readerForm.readerAddress">
                <br>

                <input type="tel" id="phone" class="form-control" placeholder="Enter 10-digit phone number..."
                    v-model="readerForm.readerPhone">
                <br>
            </form>
            <button class="btn btn-primary" v-on:click.prevent="addReaders()" v-show="!edit">Add Reader!</button>
            <button class="btn btn-outline-primary" v-on:click.prevent="saveEdits()" v-show="edit">Save edits</button>
            <button class="btn btn-info" v-on:click.prevent="cancelEdits()" v-show="edit">Cancel Update</button>

        </div>


        <br>
        <hr>
        <h4><i>Readers</i></h4>
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Address</td>
                    <td>Phone #</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>

                <tr class="table-warning" v-for="(reader, i) in readers">
                    <td>{{ reader.readerFirstname }}</td>
                    <td>{{ reader.readerLastname }}</td>
                    <td>{{ reader.readerAddress }}</td>
                    <td>{{ reader.readerPhone }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" v-show="!edit"
                            v-on:click.prevent="editReader(reader)">Edit</button>
                        <button type="button" class="btn btn-outline-secondary"
                            v-on:click.prevent="removeReader(reader.readerID, i)">Delete</button>
                    </td>
                </tr>

                <!-- <tr class="table-active">
                    <td colspan="5">There are no readers to display at the moment.</td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <!-- SAVED toast message -->
    <div class="toast save" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Saved!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Reader was saved into our system.
        </div>
    </div>

    <!-- UPDATED toast message -->
    <div class="toast update" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Updated!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This reader was successfully updated.
        </div>
    </div>

    <!-- CANCELLED toast message -->
    <div class="toast cancel" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Cancelled</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Reader was not updated.
        </div>
    </div>

    <!--  DELETED toast message -->
    <div class="toast delete" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Deleted</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Reader was successfully removed.
        </div>
    </div>

    <script type="module">
        let readerVJ = new Vue({
            el: '#app',
            data: {
                readerErrors: [],
                readers: [],
                readerForm: {
                    readerFirstname: '',
                    readerLastname: '',
                    readerAddress: '',
                    readerPhone: '',
                },
                edit: false,
                editID: 0,
            },
            methods: {
                getReaders: function () {
                    let $this = this;
                    $.ajax({
                        type: "GET",
                        url: "listReaders/get",
                        success: (data, status) => {
                            if (status === 'success') {
                                $this.readers = JSON.parse(data);
                            }
                        }
                    });
                },
                addReaders: function () {
                    let $this = this;
                    this.readerErrors = [];
                    let digitCounter = 0;
                    if (this.readerForm.readerFirstname === '' || this.readerForm.readerLastname === '') {
                        this.readerErrors.push('Incomplete name input(s).');
                    }
                    if (this.readerForm.readerAddress === '') {
                        this.readerErrors.push('Incomplete address input.');
                    }
                    if (this.readerForm.readerPhone === '') {
                        this.readerErrors.push('Incomplete phone input.');
                    }
                    for (const i in this.readerForm.readerPhone) {
                        if (!isNaN(this.readerForm.readerPhone)) {
                            digitCounter++;
                        }
                    }
                    if (digitCounter != 10) {
                        this.readerErrors.push('Phone input must have 10 digits.');
                    }

                    if (this.readerForm.readerFirstname != '' && this.readerForm.readerLastname != '' && this.readerForm.readerAddress != '' && this.readerForm.readerPhone != '' && digitCounter === 10) {
                        this.readerErrors = [];
                        $.ajax({
                            type: "POST",
                            url: "listReaders/save",
                            data: this.readerForm,
                            success: (data, status) => {
                                if (status === 'success') {
                                    $this.getReaders();
                                    $('.save').toast('show');
                                    for (let i in $this.readerForm) {
                                        $this.readerForm[i] = '';
                                    }
                                }
                            }
                        });
                    }
                },
                editReader: function (readerInfo) {
                    this.editID = readerInfo.readerID;
                    this.readerForm.readerFirstname = readerInfo.readerFirstname;
                    this.readerForm.readerLastname = readerInfo.readerLastname;
                    this.readerForm.readerAddress = readerInfo.readerAddress;
                    this.readerForm.readerPhone = readerInfo.readerPhone;
                    this.edit = true;
                    $("html, body").animate({ scrollTop: 0 });
                },
                saveEdits: function () {
                    let $this = this;
                    if (this.editID >= 0) {
                        $.ajax({
                            type: "PUT",
                            url: `listReaders/edit/${this.editID}`,
                            data: this.readerForm,
                            success: (data, status) => {
                                if (status === 'success') {
                                    for (let i in this.readers) {
                                        if ($this.readers[i].readerID === $this.editID) {
                                            $this.readers[i].readerFirstname = $this.readerForm.readerFirstname;
                                            $this.readers[i].readerLastname = $this.readerForm.readerLastname;
                                            $this.readers[i].readerAddress = $this.readerForm.readerAddress;
                                            $this.readers[i].readerPhone = $this.readerForm.readerPhone;
                                        }
                                    }
                                    $('.update').toast('show');
                                    this.edit = false;
                                    for (let i in $this.readerForm) {
                                        $this.readerForm[i] = '';
                                    }
                                }
                            }
                        });
                    }
                },
                cancelEdits: function () {
                    let $this = this;
                    this.edit = false;
                    $('.cancel').toast('show');
                    for (let i in $this.readerForm) {
                        $this.readerForm[i] = '';
                    }
                },
                removeReader: function (readerID, i) {
                    let $this = this;
                    $.ajax({
                        type: "DELETE",
                        url: `listReaders/remove/${readerID}`,
                        success: (data, status) => {
                            if (status === 'success') {
                                $('.delete').toast('show');
                                $this.readers.splice(i, 1);
                            }
                        }
                    })
                },
            },


            mounted() {
                this.getReaders();
            }
        })
    </script>
    <%- include('partials/footer.html') %>

</body>

</html>