<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
    <%- include('partials/navbar.html') %>
    <div class="container" style="text-align: center" id="app">
        <form action="">
            <!-- Validating form inputs-->
            <p v-if="bookErrors.length" style="color: darkred;">
                <br>
                The following error(s) was/were found:
            <ul>
                <li v-for="error in bookErrors" style="color: red; list-style: none;">{{ error }}</li>
            </ul>
            </p>

            <br>
            <h1>Book Info</h1>
            <hr>
            <input type="text" id="title" class="form-control" v-if="!edit" v-model="bookTitle"
                placeholder="Enter book title...">
            <input type="text" id="title" class="form-control" v-if="edit" v-model="updatedBooks.bookTitle">
            <br>

            <input type="text" id="author" class="form-control" v-if="!edit" v-model="bookAuthor"
                placeholder="Enter book author...">
            <input type="text" id="author" class="form-control" v-if="edit" v-model="updatedBooks.bookAuthor">
            <br>

            <select name="" id="genre" class="form-control custom-select" v-if="!edit" v-model="bookGenre">
                <option value="" selected disabled>Select a book genre...</option>
                <option value="romance">Romance</option>
                <option value="fantasy">Fantasy</option>
                <option value="sci-fi">Sci-fi</option>
                <option value="history">History</option>
                <option value="comedy">Comedy</option>
            </select>

            <select name="" id="genre" class="form-control custom-select" v-if="edit" v-model="updatedBooks.bookGenre">
                <option value="" selected disabled>Select a book genre...</option>
                <option value="romance">Romance</option>
                <option value="fantasy">Fantasy</option>
                <option value="sci-fi">Sci-fi</option>
                <option value="history">History</option>
                <option value="comedy">Comedy</option>
            </select>
            <br>
            <br>

            <div class="form-group" v-if="!edit">
                <input type="file" class="form-control" id="image" name="image" style="display: inline-block;"
                    v-on:change="acceptImage($event)">
            </div>
            <br v-if="!edit">
            <br v-if="!edit">

            <label>Borrowed?</label>
            <input type="checkbox" id="borrowed" v-if="!edit" v-model="borrowedCheck">
            <input type="checkbox" id="borrowed" v-if="edit" v-model="updatedBooks.borrowed">
            <br>
            <br>
        </form>
        <button class="btn btn-warning" v-on:click.prevent="addBook()" v-if="!edit">Add Book!</button>
        <button class="btn btn-outline-warning" v-on:click.prevent="saveEdits()" v-if="edit">Save edits</button>
        <button class="btn btn-secondary" v-on:click.prevent="cancelEdits()" v-if="edit">Cancel Update</button>

        <br>
        <br>
        <hr>
        <h4>Books</h4>

        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Genre</td>
                    <td>Cover</td>
                    <td>Borrowed?</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info" v-for="(book, i) in books">
                    <td>{{ book.bookTitle }}</td>
                    <td>{{ book.bookAuthor }}</td>
                    <td>{{ book.bookGenre }}</td>
                    <!-- <td></td> -->
                    <td><img v-bind:src="'images/'+book.image" v-bind:alt="book.image" height="64" width="64"></td>
                    <td>{{ book.borrowed }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" v-on:click.prevent="editBook(book)"
                            v-if="!edit">Edit</button>
                        <button type="button" class="btn btn-outline-secondary"
                            v-on:click.prevent="removeBook(book.bookID, i)">Delete</button>
                    </td>
                </tr>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- SAVED toast message -->
    <div class="toast save" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Saved!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This book was saved into our system.
        </div>
    </div>

    <!-- UPDATED toast message -->
    <div class="toast update" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Updated!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This book was successfully updated.
        </div>
    </div>

    <!-- CANCELLED toast message -->
    <div class="toast cancel" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Cancelled</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This book was not updated.
        </div>
    </div>

    <!--  DELETED toast message -->
    <div class="toast delete" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Deleted</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This book was successfully removed.
        </div>
    </div>


    <script type="module">
        let bookVJ = new Vue({
            el: '#app',
            data: {
                bookErrors: [],
                books: [],
                updatedBooks: {
                    bookTitle: '',
                    bookAuthor: '',
                    bookGenre: '',
                    image: '',
                    borrowed: ''
                },
                borrowedCheck: '',
                bookForm: new FormData(),
                bookTitle: '',
                bookAuthor: '',
                bookGenre: '',
                image: '',
                borrowed: '',

                edit: false,
                editID: 0,
            },
            methods: {
                getBooks: function () {
                    let $this = this;
                    $.ajax({
                        type: "GET",
                        url: "listBooks/get",
                        success: function (data, status) {
                            if (status === 'success') {
                                $this.books = JSON.parse(data);
                            }
                        }
                    });
                },
                acceptImage: function (event) {
                    this.image = $('input[type=file]')[0].files[0];
                },
                addBook: function () {
                    let $this = this;
                    this.bookErrors = [];
                    if (this.bookTitle === '') {
                        this.bookErrors.push('Incomplete title input.');
                    }
                    if (this.bookAuthor === '') {
                        this.bookErrors.push('Incomplete author input.');
                    }
                    if (this.bookGenre === '') {
                        this.bookErrors.push('Incomplete genre input.');
                    }
                    if (this.image === '') {
                        this.bookErrors.push('Image input for the book cover is empty.');
                    }

                    if (this.bookTitle != '' && this.bookAuthor != '' && this.image != '' && this.genre != '') {
                        this.bookErrors = [];
                        if (this.borrowedCheck === '') {
                            this.bookForm.append('borrowed', 'no');
                        } else {
                            this.bookForm.append('borrowed', 'yes');
                        }
                        this.bookForm.append('bookTitle', this.bookTitle);
                        this.bookForm.append('bookAuthor', this.bookAuthor);
                        this.bookForm.append('bookGenre', this.bookGenre);
                        this.bookForm.append('image', this.image);

                        $.ajax({
                            type: "POST",
                            url: "listBooks/save",
                            data: this.bookForm,
                            enctype: 'multipart/form-data', //To combine regular inputs with file-type inputs
                            processData: false,  // Important!
                            contentType: false,
                            success: (data, status) => {
                                if (status === 'success') {
                                    $this.getBooks();
                                    $('.save').toast('show');
                                    this.bookTitle = '';
                                    this.bookAuthor = '';
                                    this.bookGenre = '';
                                    this.image = '';
                                    this.borrowedCheck = false;

                                }
                            }
                        });
                    }
                },
                editBook: function (bookInfo) {
                    this.editID = bookInfo.bookID;
                    this.updatedBooks.bookTitle = bookInfo.bookTitle;
                    this.updatedBooks.bookAuthor = bookInfo.bookAuthor;
                    this.updatedBooks.bookGenre = bookInfo.bookGenre;
                    if (bookInfo.borrowed === 'no') {
                        this.updatedBooks.borrowed = false;

                    } else {
                        this.updatedBooks.borrowed = true;
                    }
                    this.edit = true;
                    this.updatedBooks.image = bookInfo.image;
                    $("html, body").animate({ scrollTop: 0 });
                },
                saveEdits: function () {
                    this.bookErrors = [];
                    if (this.updatedBooks.bookTitle === '') {
                        this.bookErrors.push('Incomplete title input.');
                    }
                    if (this.updatedBooks.bookAuthor === '') {
                        this.bookErrors.push('Incomplete author input.');
                    }
                    if (this.updatedBooks.bookGenre === '') {
                        this.bookErrors.push('Incomplete genre input.');
                    }

                    if (this.updatedBooks.bookTitle != '' && this.updatedBooks.bookAuthor != '' && this.updatedBooks.genre != '') {
                        this.bookErrors = [];
                        if (this.updatedBooks.borrowed === false) {
                            this.updatedBooks.borrowed = 'no';
                        } else {
                            this.updatedBooks.borrowed = 'yes';
                        }

                        let $this = this;
                        $.ajax({
                            type: "PUT",
                            url: `listBooks/edit/${this.editID}`,
                            data: this.updatedBooks,
                            success: (data, status) => {
                                for (let i in this.books) {
                                    if ($this.books[i].bookID === $this.editID) {
                                        $this.books[i].bookTitle = $this.updatedBooks.bookTitle;
                                        $this.books[i].bookAuthor = $this.updatedBooks.bookAuthor;
                                        $this.books[i].bookGenre = $this.updatedBooks.bookGenre;
                                        $this.books[i].image = $this.updatedBooks.image;
                                        $this.books[i].borrowed = $this.updatedBooks.borrowed;
                                    }
                                }
                                $this.getBooks();
                                $('.update').toast('show');
                                this.edit = false;
                                this.bookTitle = '';
                                this.bookAuthor = '';
                                this.bookGenre = '';
                                this.image = '';
                                this.borrowedCheck = false;
                            }
                        });
                    }
                },
                cancelEdits: function () {
                    let $this = this;
                    this.edit = false;
                    $('.cancel').toast('show');
                    this.bookTitle = '';
                    this.bookAuthor = '';
                    this.bookGenre = '';
                    this.image = '';
                    this.borrowedCheck = false;
                },
                removeBook: function (bookID, i) {
                    let $this = this;
                    $.ajax({
                        type: "DELETE",
                        url: `listBooks/remove/${bookID}`,
                        success: (data, status) => {
                            if (status === 'success') {
                                $('.delete').toast('show');
                                $this.books.splice(i, 1);
                            }
                        }
                    })
                },
            },
            mounted() {
                this.getBooks();
            }
        })
    </script>

    <%- include('partials/footer.html') %>

</body>

</html>