<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.html') %>

<body>
    <%- include('partials/navbar.html') %>
    <div class="container" style="text-align: center" id="app">
        <h3 v-if="!edit"><i>Available Books</i></h3>
        <hr>
        <br>
        <!-- Format for page when edit is true -->
        <p v-show="edit">
            <button class="btn btn-outline-success" v-on:click.prevent="saveEdits()">Save edits</button>
            <button class="btn btn-secondary" v-on:click.prevent="cancelEdits()">Cancel Update</button>
        </p>
        <p>
            <label for="reader" style="color:green"><i>Select Reader:</i></label>
            <select class="select2-search__field form-control" id="reader" style="width: 90%;">
                <option v-for="person in readers" v-bind:value="person.readerID">
                    {{ person.readerFirstname }} {{ person.readerLastname  }}</option>
            </select>
        </p>
        <!-- Format for page when edit is true -->
        <p v-show="edit">
            <label for="bookEdit" style="color:green"><i>Select Book:</i></label>
            <select class="select2-search__field form-control" id="bookEdit" style="width: 90%;">
                <option v-for="book in books" v-bind:value="book.bookID">
                    {{ book.bookTitle }}</option>
            </select>
            <br>
            <br>

        </p>


        <!-- Format for page when edit is false -->
        <div class="card-deck" v-if="!edit">
            <div class="card border-success mb-3" style="max-width: 18rem;margin: 5px;" v-for="(book, i) in books">
                <div class="card-header" style="background-color: lightgreen;">
                    <img v-bind:src="'images/'+book.image" v-bind:alt="book.image" width="81" height="108">
                </div>
                <div class="card-body" style="background-color: lightyellow;">
                    <h4 class="card-title">{{ book.bookTitle }}</h4>
                    <p class="card-text">
                        Author: {{ book.bookAuthor }}
                        <br>
                        Genre: {{ book.bookGenre }}
                        <br>
                    </p>

                    <br>
                    <button type="button" class="btn btn-outline-success" v-on:click="addRent(book)">Rent</button>
                </div>
            </div>
        </div>

        <!-- Displaying all rents -->
        <hr>
        <h4><i>Rents</i></h4>
        <hr>
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <td>Rent ID</td>
                    <td>Rent Date</td>
                    <td>Return Date</td>
                    <td>Book</td>
                    <td>Reader</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>

                <tr class="table-info" v-for="(rent, i) in rents">
                    <td>{{ rent.rentID }}</td>
                    <td>{{ rent.loanDate }}</td>
                    <td>{{ rent.returnDate }}</td>
                    <td>{{ rent.bookTitle }}</td>
                    <td>{{ rent.readerFirstname }} {{ rent.readerLastname }}</td>
                    <td>
                        <button type="button" class="btn btn-success" v-on:click="editRent(rent)"
                            v-if="!edit">Edit</button>
                        <button type="button" class="btn btn-primary"
                            v-on:click="removeRent(rent.rentID, i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- SAVED toast message -->
    <div class="toast save" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Saved!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This rent was saved into our system.
        </div>
    </div>

    <!-- UPDATED toast message -->
    <div class="toast update" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Updated!</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            This rent was successfully updated.
        </div>
    </div>

    <!-- CANCELLED toast message -->
    <div class="toast cancel" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Cancelled</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Rent was not updated.
        </div>
    </div>

    <!--  DELETED toast message -->
    <div class="toast delete" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Deleted</strong>
            <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Rent was successfully removed.
        </div>
    </div>

    <script type="module">
        let rentVJ = new Vue({
            el: '#app',
            data: {
                rentErrors: [],
                rents: [],
                readers: [],
                books: [],
                rentForm: {
                    loanDate: '',
                    returnDate: '',
                    readerID: '',
                    bookID: '',
                },
                edit: false,
                editID: 0,
            },
            methods: {
                getRents: function () {
                    let $this = this;
                    $.ajax({
                        type: "GET",
                        url: "listRents/get",
                        success: (data, status) => {
                            if (status === 'success') {
                                $this.rents = JSON.parse(data.rents);
                                $this.readers = JSON.parse(data.readers);
                                $this.books = JSON.parse(data.books);
                            }
                        }
                    });
                },
                addRent: function (book) {
                    let $this = this;
                    this.rentErrors = [];
                    this.rentForm.bookID = book.bookID;
                    this.rentForm.readerID = $('#reader').val();

                    swal({
                        title: `Rent Confirmation for \"${book.bookTitle}\":`,
                        text: `Would you like to rent \"${book.bookTitle}\"?`,
                        icon: "info",
                        buttons: true,
                    })
                        .then((yes) => {
                            if (yes) {

                                //  Arranging the dates in MM/DD/YYYY format
                                let theDate = new Date();
                                let theMonth = (theDate.getMonth() + 1)
                                let inAMonth = ((theDate.getMonth() + 1) + 1);
                                let day = theDate.getDate();

                                if (theMonth < 10)
                                    theMonth = "0" + theMonth;
                                if (inAMonth < 10)
                                    inAMonth = "0" + inAMonth;
                                if (day < 10)
                                    day = "0" + day;

                                this.rentForm.loanDate = `${theDate.getFullYear()}-${theMonth}-${day}`;
                                this.rentForm.returnDate = `${theDate.getFullYear()}-${inAMonth}-${day}`;

                                $.ajax({
                                    type: "POST",
                                    url: "listRents/save",
                                    data: this.rentForm,
                                    success: (data, status) => {
                                        if (status === 'success') {
                                            $this.getRents();
                                            $('.save').toast('show');
                                        }
                                    }
                                });
                            } else {
                            }
                        });
                },
                editRent: function (rent) {
                    $('#bookEdit').select2();

                    this.editID = rent.rentID;
                    this.rentForm.loanDate = rent.loanDate;
                    this.rentForm.returnDate = rent.returnDate;
                    console.log(rent.bookID);

                    $('#reader').val(rent.readerID).trigger('change');

                    $('#bookEdit').val(rent.bookID).trigger('change');
                    this.edit = true;
                    $("html, body").animate({ scrollTop: 0 });
                },
                saveEdits: function () {
                    let $this = this;
                    //  Arranging the dates in MM/DD/YYYY format
                    let theDate = new Date();
                    let theMonth = (theDate.getMonth() + 1)
                    let inAMonth = ((theDate.getMonth() + 1) + 1);
                    let day = theDate.getDate();

                    if (theMonth < 10)
                        theMonth = "0" + theMonth;
                    if (inAMonth < 10)
                        inAMonth = "0" + inAMonth;
                    if (day < 10)
                        day = "0" + day;

                    this.rentForm.loanDate = `${theDate.getFullYear()}-${theMonth}-${day}`;
                    this.rentForm.returnDate = `${theDate.getFullYear()}-${inAMonth}-${day}`;
                    this.rentForm.bookID = $('#bookEdit').val();

                    if (this.editID >= 0) {
                        $.ajax({
                            type: "PUT",
                            url: `listRents/edit/${this.editID}`,
                            data: this.rentForm,
                            success: (data, status) => {
                                if (status === 'success') {
                                    this.getRents();
                                    $('.update').toast('show');
                                    this.edit = false;
                                }
                            }
                        });
                    }
                },
                cancelEdits: function () {
                    this.edit = false;
                    $('.cancel').toast('show');
                    $('#reader').select2();
                },
                removeRent: function (rentID, i) {
                    let $this = this;
                    $.ajax({
                        type: "DELETE",
                        url: `listRents/remove/${rentID}`,
                        success: (data, status) => {
                            if (status === 'success') {
                                $('.delete').toast('show');
                                $this.rents.splice(i, 1);
                            }
                        }
                    })
                },
            },

            mounted() {
                this.getRents();
                $('#reader').select2();
                $('#bookEdit').select2();

                $('#reader').on('change', () => {
                    this.rentForm.readerID = $('#reader').val();
                });
                $('#bookEdit').on('change', () => {
                    this.rentForm.bookID = $('#bookEdit').val();
                });
            }
        })
    </script>

    <%- include('partials/footer.html') %>

</body>

</html>