body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgoldenrodyellow;
}

a {
  color: #00B7FF;
}

.background {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
    width: 100%;
    height: 780px;
}

.form-group {
  width: 45%;
  background-color: lavender;
  color: indigo;
}

.showImage {
  width: 100%;
  height: 200px;
  overflow-x: auto;
}

.save {
  left: 50%;
  top: 230px;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  background-color: lightgreen;
}

.update{
  left: 50%;
  top: 230px;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  background-color: lightskyblue;
}

.cancel{
  left: 50%;
  top: 230px;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  background-color: lightgoldenrodyellow;
}


.delete{
  left: 50%;
  top: 230px;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
  background-color: lightsalmon;
}

#image {
  position: absolute;
  top: 36;
  right: 39%;
  left: 40%;
  font-size: 12px;
  text-align: right;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: block;
  width: 21%;
}

.card-deck{
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}